# Import Starting Data

In [1]:
import pandas as pd #1
import os           #3

In [2]:
given_data_folder = 'data'

file_names = os.listdir(given_data_folder)
file_names.sort()
file_names

['MMasseyOrdinals.csv',
 'MRegularSeasonDetailedResults.csv',
 'bracket-2022.csv']

In [3]:
reg_season_file_name = 'MRegularSeasonDetailedResults.csv'

In [4]:
file_path = given_data_folder + '/' + reg_season_file_name 
reg_season_df  = pd.read_csv(file_path)
print(len(reg_season_df))

reg_season_df.head(5)

100423

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [5]:
ranks_file_name = 'MMasseyOrdinals.csv'

In [6]:
file_path = given_data_folder + '/' + ranks_file_name 
ranks_df  = pd.read_csv(file_path)
print(len(ranks_df))

ranks_df.head(5)

4521720

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

# Cut both down to just the last X years

In [7]:
years_included = 3
recent_season  = 2022

In [8]:
recent_season_df = reg_season_df[reg_season_df.Season == recent_season]

for i in range(1, years_included):
    recent_season_df = pd.concat([recent_season_df, 
                                  reg_season_df[reg_season_df.Season == (recent_season-i)]], ignore_index = True)
    recent_season_df.reset_index()
    
print(len(recent_season_df))
recent_season_df.head(5)

12919

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2022,8,1104,93,1256,64,H,0,32,64,...,26,6,19,14,20,11,10,3,1,18
1,2022,8,1105,82,1398,73,H,0,31,71,...,27,2,5,14,27,12,14,5,2,16
2,2022,8,1110,77,1265,73,H,1,27,59,...,19,7,12,10,26,5,15,6,3,20
3,2022,8,1112,81,1319,52,H,0,28,69,...,16,9,17,11,28,11,20,3,1,22
4,2022,8,1113,76,1339,60,H,0,31,66,...,24,10,11,2,22,10,21,9,1,14

In [9]:
recent_ranks_df = ranks_df[ranks_df.Season == recent_season]

for i in range(1, years_included):
    recent_ranks_df = pd.concat([recent_ranks_df, 
                                 ranks_df[ranks_df.Season == (recent_season-i)]], ignore_index = True)
    recent_ranks_df.reset_index()
    
print(len(recent_ranks_df))
recent_ranks_df.head(5)

700801

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2022             16         AP    1104           14
1    2022             16         AP    1116           16
2    2022             16         AP    1120           21
3    2022             16         AP    1124            9
4    2022             16         AP    1163           23

# Turn Both DFs into lists of columns

In [10]:
# Creates list of the column names from the df
columns = recent_season_df.columns.tolist()

# Creates list of the columns
recent_season_df_columns = []
for expected_column in columns:
    recent_season_df_columns.append( recent_season_df[expected_column].tolist() )

print("rows:", len(recent_season_df_columns[0]), "  columns:", len(recent_season_df_columns))

rows: 12919   columns: 34

In [11]:
# Creates list of the column names from the df
columns = recent_ranks_df.columns.tolist()

# Creates list of the columns
recent_ranks_df_columns = []
for expected_column in columns:
    recent_ranks_df_columns.append( recent_ranks_df[expected_column].tolist() )

print("rows:", len(recent_ranks_df_columns[0]), "  columns:", len(recent_ranks_df_columns))

rows: 700801   columns: 5

# Combine team IDs and season years

In [12]:
# 0: Season, 2: WTeamID, 4: LTeamID
for i in range(len(recent_season_df_columns[0])):
    # WTeamID
    recent_season_df_columns[2][i] = "{}_{}".format(recent_season_df_columns[2][i], recent_season_df_columns[0][i])
    # LTeamID
    recent_season_df_columns[4][i] = "{}_{}".format(recent_season_df_columns[4][i], recent_season_df_columns[0][i])

In [13]:
# 0: Season, 3: TeamID
for i in range(len(recent_ranks_df_columns[0])):
    # TeamID
    recent_ranks_df_columns[3][i] = "{}_{}".format(recent_ranks_df_columns[3][i], recent_ranks_df_columns[0][i])

### create a ranks dictionary

In [14]:
ranks_dict = {}

# 0: Season, 1: RankingDayNum, 2: SystemName, 3: TeamID, 4: OrdinalRank
for i in range(len(recent_ranks_df_columns[0])):
    TeamID        = recent_ranks_df_columns[3][i]
    SystemName    = recent_ranks_df_columns[2][i]
    RankingDayNum = recent_ranks_df_columns[1][i]
    OrdinalRank   = recent_ranks_df_columns[4][i]
    
    # new team entry
    if TeamID not in ranks_dict:
        #                            day_num: [running average, [list of ranks]]
        ranks_dict[TeamID] = { RankingDayNum: [OrdinalRank, [[SystemName, OrdinalRank]]] }
        
    # existing team entry
    else:
        # new day entry
        if RankingDayNum not in ranks_dict[TeamID]:
            ranks_dict[TeamID][RankingDayNum] = [OrdinalRank, [[SystemName, OrdinalRank]]]
        
        # existing day entry
        else:
            current_sum = ranks_dict[TeamID][RankingDayNum][0] * len(ranks_dict[TeamID][RankingDayNum][1])
            new_sum     = current_sum + OrdinalRank
            new_average = new_sum / (len(ranks_dict[TeamID][RankingDayNum][1])+1)
            
            ranks_dict[TeamID][RankingDayNum][0] = new_average
            ranks_dict[TeamID][RankingDayNum][1].append([SystemName, OrdinalRank])

In [15]:
example_ID  = list(ranks_dict.keys())[0]
example_day = list(ranks_dict[example_ID].keys())[0]

ranks_dict[example_ID][example_day]

[12.380952380952381,
 [['AP', 14],
  ['BWE', 5],
  ['DES', 8],
  ['DII', 10],
  ['DOK', 12],
  ['EBP', 35],
  ['EMK', 16],
  ['HAS', 18],
  ['INC', 9],
  ['JNG', 8],
  ['MAS', 4],
  ['MOR', 30],
  ['PGH', 5],
  ['POM', 12],
  ['SAG', 12],
  ['SFX', 7],
  ['SMS', 12],
  ['TRK', 16],
  ['TRP', 8],
  ['USA', 13],
  ['WIL', 6]]]

### Add team ranks to data

In [16]:
# add columns for WTeam Rank and LTeam Rank
recent_season_df_columns.insert(21, []) # 21
recent_season_df_columns.append([])     # 35

In [17]:
num_rows = len(recent_season_df_columns[0])

for i in range(num_rows):
    DayNum = recent_season_df_columns[1][i]
    WTeam  = recent_season_df_columns[2][i]
    LTeam  = recent_season_df_columns[4][i]
    
    # Look up the most recent ranking for WTeam and LTeam
    
    # WTeam
    # ------
    WTeam_ranks = list(ranks_dict[WTeam].keys())
    WTeam_ranks.sort()
    
    recent_W_key = WTeam_ranks[0]
    for key in WTeam_ranks:
        # once the key we are on is bigger than the day of the game, take the previous key
        if key > recent_W_key:
            # add the WTeam Rank to the dict
            recent_season_df_columns[21].append( ranks_dict[WTeam][recent_W_key][0] )
            break
            
    # LTeam
    # ------
    LTeam_ranks = list(ranks_dict[LTeam].keys())
    LTeam_ranks.sort()
    
    recent_L_key = LTeam_ranks[0]
    for key in LTeam_ranks:
        # once the key we are on is bigger than the day of the game, take the previous key
        if key > recent_L_key:
            # add the LTeam Rank to the dict
            recent_season_df_columns[35].append( ranks_dict[LTeam][recent_L_key][0] )
            break

In [21]:
#for i in range(len(recent_season_df_columns)):
    #print( "{:>3} - {:>5}".format(i, len(recent_season_df_columns[i])))

# Create Inputs and Solutions

In [22]:
from copy import deepcopy
from statistics import stdev

In [19]:
'''
normalized_indicis = [  3,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 
                        5, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
''';

In [25]:
df_columns = deepcopy(recent_season_df_columns)

In [26]:
# Normalizing each input stat to 0-1
# -----------------------------------

# create columns of all actual data
stats_columns = [df_columns[3].copy()] + deepcopy(df_columns[  8:22 ])
additional    = [df_columns[5].copy()] + deepcopy(df_columns[ 22:   ])

for i in range(len(stats_columns)):
    stats_columns[i] += additional[i]


# getting averages/standard devation
column_averages = []
column_std = []
for column in stats_columns:
    column_std.append(stdev(column))
    column_averages.append( sum(column)/len(column) )


# get valid max candidates
within_range = []
for i in range(len(stats_columns)):
    within_range_column = []
    for value in stats_columns[i]:
        if value < (column_averages[i] + (column_std[i]*2.5)) and value > (column_averages[i] - (column_std[i]*2.5)):
            within_range_column.append(value)
    within_range.append(within_range_column)


# now create max columns list for use
max_columns = []
for i in range(len(within_range)):
    max_columns.append( max(within_range[i]) )
max_columns += max_columns


# normalize all values
normalized_indicis = [3,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 
                      5, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
for i in range(len(normalized_indicis)):
    column_max  = max_columns[i]
    column      = normalized_indicis[i]
    for i in range(len( df_columns[column] )):
        df_columns[column][i] = (df_columns[column][i]/column_max)


# create list of normalized variance values
variance = []
for i in range(len(column_std)):
    variance.append( (column_std[i]/max_columns[i])**2 )
variance += variance


# return max columns and variance lists
output_max_columns  = max_columns.copy()
output_variance     = variance.copy()





# change df to list of rows
# --------------------------
# Make a list of rows too
df_rows = []
for i in range(len(df_columns[0])):
    new_row = []
    for j in range(len(df_columns)):
        new_row.append(df_columns[j][i])
    df_rows.append(new_row)




# game solutions and team dictionary
# -----------------------------------

# inputs and solutions
inputs      = []
solutions   = []


# team1 ID, team2 ID, team1 win? (1 or 0)
game_solutions = []


# key = teamID
# value = [count, team]
team_dictionary = {}


for i in range(len(df_rows)):
    row = df_rows[i]

    WTeam_stats = [row[3]] + row[ 8:22].copy()
    LTeam_stats = [row[5]] + row[22:  ].copy()


    # if both teams are in the team dictionary, create input and solution rows
    # -------------------------------------------------------------------------
    if row[2] in team_dictionary and row[4] in team_dictionary:


        new_input_row_1 = team_dictionary[row[2]][1].copy() + team_dictionary[row[4]][2].copy()
        new_input_row_2 = team_dictionary[row[4]][1].copy() + team_dictionary[row[2]][2].copy()

        orig_length = len(new_input_row_1)
        for j in range(len(new_input_row_1)):
            new_input_row_1.append(-new_input_row_2[j])
            new_input_row_2.append(-new_input_row_1[j])


        WTeam_inputs = team_dictionary[row[2]][1].copy() + team_dictionary[row[2]][2].copy()
        LTeam_inputs = team_dictionary[row[4]][1].copy() + team_dictionary[row[4]][2].copy()

        # for solutions
        new_solutions_row_1 = []
        new_solutions_row_2 = []

        # for updating dictionaries
        W_games = team_dictionary[row[2]][0]
        L_games = team_dictionary[row[4]][0]

        # 26 long
        for j in range(len(WTeam_inputs)):
            # team FOR is positive
            if j < (len(WTeam_inputs)//2): # half

                # input and solution rows
                # ------------------------
                new_solutions_row_1.append(WTeam_stats[j])
                new_solutions_row_2.append(LTeam_stats[j])

                # Update team dictionaries
                # -------------------------
                # WTeam
                team_dictionary[row[2]][1][j] = ((W_games * team_dictionary[row[2]][1][j]) + WTeam_stats[j])/(W_games+1)
                team_dictionary[row[2]][2][j] = ((W_games * team_dictionary[row[2]][2][j]) + LTeam_stats[j])/(W_games+1)

                # LTeam
                team_dictionary[row[4]][1][j] = ((L_games * team_dictionary[row[4]][1][j]) + LTeam_stats[j])/(L_games+1)
                team_dictionary[row[4]][2][j] = ((L_games * team_dictionary[row[4]][2][j]) + WTeam_stats[j])/(L_games+1)

            # team AGAINST is positive
            else:
                # input and solution rows
                # ------------------------
                new_solutions_row_1.append(-LTeam_stats[j-(len(WTeam_inputs)//2)])
                new_solutions_row_2.append(-WTeam_stats[j-(len(WTeam_inputs)//2)])


        # update game count of both teams
        team_dictionary[row[2]][0] += 1
        team_dictionary[row[4]][0] += 1


        # append new inputs and solutions to overall list
        # ------------------------------------------------
        inputs.append(new_input_row_1)
        inputs.append(new_input_row_2)

        solutions.append(new_solutions_row_1)
        solutions.append(new_solutions_row_2)




    # if both teams are not in the dictionary already then just add/update them
    # --------------------------------------------------------------------------
    # create LTeam entry, update WTeam entry
    elif row[2] in team_dictionary:
        # LTeam
        team_dictionary[row[4]] = [1, WTeam_stats, LTeam_stats]

        # WTeam
        W_games = team_dictionary[row[2]][0]
        for j in range(len(WTeam_stats)):
            team_dictionary[row[2]][1][j] = ((W_games * team_dictionary[row[2]][1][j]) + WTeam_stats[j])/(W_games+1)
            team_dictionary[row[2]][2][j] = ((W_games * team_dictionary[row[2]][2][j]) + LTeam_stats[j])/(W_games+1)
        team_dictionary[row[2]][0] += 1


    # create WTeam entry, update LTeam entry
    elif row[4] in team_dictionary:
        # WTeam
        team_dictionary[row[2]] = [1, LTeam_stats, WTeam_stats]

        # LTeam
        L_games = team_dictionary[row[4]][0]
        for j in range(len(LTeam_stats)):
            team_dictionary[row[4]][1][j] = ((L_games * team_dictionary[row[4]][1][j]) + LTeam_stats[j])/(L_games+1)
            team_dictionary[row[4]][2][j] = ((L_games * team_dictionary[row[4]][2][j]) + WTeam_stats[j])/(L_games+1)
        team_dictionary[row[4]][0] += 1


    # create entry for both WTeam and LTeam
    else:
        team_dictionary[row[2]] = [1, WTeam_stats, LTeam_stats]
        team_dictionary[row[4]] = [1, LTeam_stats, WTeam_stats]

In [27]:
# print report
# -------------
headers_list = ["Pts", "FGM", "FGA", "FGM3", "FGA3", "FTM", "FTA", "OR", 
                "DR", "Ast", "TO", "Stl", "Blk", "PF", "Str", 
                "xPts", "xFGM", "xFGA", "xFGM3", "xFGA3", "xFTM", "xFTA", "xOR",
                "xDR", "xAst", "xTO", "xStl", "xBlk", "xPF", "xStr"]

print(len(inputs), len(solutions))

line1 = ""
line2 = ""
for i in range(len(output_variance)//2):
    line1 += "{:>6} ".format(headers_list[i])
    line2 += "{:>6}%".format( round(output_variance[i]*100, 2) )
print(line1)
print(line2)


# return inputs, solutions, output_max_columns, output_variance

24488 24488
   Pts    FGM    FGA   FGM3   FGA3    FTM    FTA     OR     DR    Ast     TO    Stl    Blk     PF    Str
  1.45%  1.75%  0.88%  4.84%  2.82%  4.65%  4.28%  4.48%  1.91%  3.63%  3.35%  4.86%  7.32%  5.89%  7.58%

# Remove the Strength stat from the solutions

In [20]:
#print(ranks_dict["SEL"])