In [1]:
import pandas as pd #1
import datetime     #2
import os           #3

In [2]:
given_data_folder = 'data'

file_names = os.listdir(given_data_folder)
file_names.sort()
file_names

['MRegularSeasonDetailedResults.csv', 'bracket-2022.csv']

In [3]:
file_name = 'MRegularSeasonDetailedResults.csv'

In [4]:
file_path = given_data_folder + '/' + file_name 
given_df  = pd.read_csv(file_path)
print(len(given_df))

given_df.head(5)

100423

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

## get only games from 2022 season

In [5]:
given_df = given_df[given_df.Season == 2022]
print(len(given_df))

given_df.head(5)

3736

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
96687,2022,8,1104,93,1256,64,H,0,32,64,...,26,6,19,14,20,11,10,3,1,18
96688,2022,8,1105,82,1398,73,H,0,31,71,...,27,2,5,14,27,12,14,5,2,16
96689,2022,8,1110,77,1265,73,H,1,27,59,...,19,7,12,10,26,5,15,6,3,20
96690,2022,8,1112,81,1319,52,H,0,28,69,...,16,9,17,11,28,11,20,3,1,22
96691,2022,8,1113,76,1339,60,H,0,31,66,...,24,10,11,2,22,10,21,9,1,14

## change from df to just a list of columns

In [6]:
# Creates list of the column names from the df
columns = given_df.columns.tolist()

# Creates list of the columns
df_columns = []
for expected_column in columns:
    temp = given_df[expected_column].tolist()
    df_columns.append(temp)
    
len(df_columns)

34

In [7]:
# Make a list of rows too
df_rows = []

for i in range(len(df_columns[0])):
    new_row = []
    
    for j in range(len(df_columns)):
        new_row.append(df_columns[j][i])
    
    df_rows.append(new_row)

len(df_rows)

3736

In [8]:
row   = ""
count = 0
for i in range(len(columns)):
    temp   = "{:>3}: {}".format(i, columns[i])
    row   += "{:<15}"   .format(temp)
    count += 1
    
    if count > 6:
        row   +=("\n")
        count  = 0

print(row)

  0: Season      1: DayNum      2: WTeamID     3: WScore      4: LTeamID     5: LScore      6: WLoc
  7: NumOT       8: WFGM        9: WFGA       10: WFGM3      11: WFGA3      12: WFTM       13: WFTA
 14: WOR        15: WDR        16: WAst       17: WTO        18: WStl       19: WBlk       20: WPF
 21: LFGM       22: LFGA       23: LFGM3      24: LFGA3      25: LFTM       26: LFTA       27: LOR
 28: LDR        29: LAst       30: LTO        31: LStl       32: LBlk       33: LPF

## get each teams stats

In [9]:
game_solutions = []
# team1 ID, team2 ID, team1 win? (1 or 0)

team_dictionary = {}
# key = teamID
# value = [count, team]

for i in range(len(df_rows)):
    row = df_rows[i]
    
    # game_solutions
    # ---------------
    game_solutions.append( [row[2], row[4], 1] )
    
    
    # team dictionary
    # ----------------
    
    #team_for     = [row[3]] + row[ 8:21].copy()
    #team_allowed = [row[5]] + row[21:  ].copy()
    
    team_for     = row[ 8:21].copy()
    team_allowed = row[21:  ].copy()
    
    
    # WTEAM
    if row[2] not in team_dictionary:
        team_dictionary[row[2]] = [1, team_for, team_allowed]
    else:
        # count
        team_dictionary[row[2]][0] += 1
        # team for
        for j in range(len(team_for)):
            team_dictionary[row[2]][1][j] += team_for[j]
            team_dictionary[row[2]][2][j] += team_allowed[j]

    # LTEAM
    if row[4] not in team_dictionary:
        team_dictionary[row[4]] = [1, team_allowed, team_for]
    else:
        # count
        team_dictionary[row[4]][0] += 1
        # team for
        for j in range(len(team_for)):
            team_dictionary[row[4]][1][j] += team_allowed[j]
            team_dictionary[row[4]][2][j] += team_for[j]

            
        
print("game_solutions  length: ", len(game_solutions ))
print("team_dictionary length: ", len(team_dictionary), "\n")

for i in range(1):
    print(team_dictionary[ list(team_dictionary.keys())[i] ])
    print()

game_solutions  length:  3736
team_dictionary length:  358

[23, [1110, 2585, 355, 1112, 573, 797, 448, 1028, 568, 560, 282, 164, 746], [1131, 2538, 333, 998, 602, 836, 389, 1011, 550, 507, 301, 129, 712]]

## change to averages

In [10]:
team_averages = {}
team_keys = list(team_dictionary.keys())

for key in team_keys:
    entry = team_dictionary[key]
    count = entry[0]
    
    avg_team_for     = []
    avg_team_allowed = []
    
    for i in range(len(entry[1])):
        avg_team_for.append( (entry[1][i] / count) )
        avg_team_allowed.append( (entry[2][i] / count) )
        
    team_averages[key] = [avg_team_for, avg_team_allowed]
    
print(len(team_averages), "\n")
#for i in range(2):
    #print(team_averages[ list(team_averages.keys())[i] ])
    #print()

358

# Testing With The Network

In [11]:
import sys
sys.path.append("..")

In [12]:
import random
import time
import threading

In [13]:
from network_classes.neuron      import Neuron
from network_classes.agent       import Agent
from network_classes.population  import Population

from extra.progress_package import *

## setting up inputs and solutions

In [14]:
inputs = []
solutions = []

for i in range(len(game_solutions)):
    game = game_solutions[i]
    team1 = game[0]
    team2 = game[1]
    
    if random.uniform(0,1) > 0.5:
        #input_row = team_dictionary[team1][1] + team_dictionary[team2][1]
        input_row = []
        for j in range(len(team_averages[team1][0])):
            input_row.append( (team_averages[team1][0][j] - team_averages[team2][0][j]) )
        
        inputs.append(input_row)
        solutions.append(1)
        
    else:
        #input_row = team_dictionary[team2][1] + team_dictionary[team1][1]
        input_row = []
        for j in range(len(team_averages[team1][0])):
            input_row.append( (team_averages[team2][0][j] - team_averages[team1][0][j]) )
        
        inputs.append(input_row)
        solutions.append(0)
        
print("inputs length:", len(inputs))
print("solutions length:", len(solutions))

inputs length: 3736
solutions length: 3736

In [15]:
# training ->   0:2615
# testing -> 2615:

## First Test

# THREADING
# -------------------

In [16]:
TEST_inputs = inputs[:2615].copy()
TEST_solutions = solutions[:2615].copy()

TEST_population = Population( len(TEST_inputs[0]) , 10)
TEST_population.test_agents(TEST_inputs, TEST_solutions)
#TEST_population.test_agents_threading(TEST_inputs, TEST_solutions)

count1 = 0
timer1 = 0

scores = TEST_population.scores.copy()
scores.sort(reverse=True)
scores

[1371, 1345, 1341, 1341, 1341, 1337, 1280, 1274, 1274, 1273]

In [26]:
training_time = 10 # (in seconds)

max_steps  = 900
steps      = 0
start_time = time.time()
elapsed    = 0

for i in range(max_steps):
    elapsed = time.time() - start_time
    
    if elapsed > training_time: 
        progress_bar(elapsed, training_time)
        break
        
    # ----------------------------------------------

    TEST_population.evolution_step()
    count1 += 1
    
    #TEST_population.test_agents(TEST_inputs, TEST_solutions)
    TEST_population.test_agents_threading(TEST_inputs, TEST_solutions)

    # ----------------------------------------------
    
    progress_bar(elapsed, training_time)
    
    
timer1 += elapsed

print("\n")
print("timer: ", timer1)
print("steps: ", count1)

#TEST_population.test_agents(TEST_inputs, TEST_solutions)
scores = TEST_population.scores.copy()
scores.sort(reverse=True)

print("accuracy: {}%".format(round( (scores[0]/len(TEST_inputs))*100, 2 )))
scores

[#####################################################] - 107.92%

timer:  53.672685861587524
steps:  20
accuracy: 57.97%

[1516, 1509, 1495, 1486, 1481, 1479, 1468, 1440, 1399, 1379]

In [27]:
TEST_population.agents[0].print1()

format  ->  final value
            -------------
            # connections


-0.01 -1.00  0.90  0.63 -1.00 -1.00 -1.00 -1.00  0.97 -1.00  0.80 -0.86 -1.00
    2     3     4     2     3     4     3     6     3     4     4     4     5

-0.27 -0.42  0.17  0.96  0.90  1.00  0.85 -0.62 -1.00  0.99  0.13  0.05  0.14
    5     5     4     3     4     2     3     3     3     2     4     3     5

-0.62 -0.93  0.77  0.63  0.81 -0.14  0.72  0.47 -0.34 -0.34  0.07  0.19 -0.06
    2     5     2     4     4     4     4     4     4     2     4     5     4

-0.63  0.96  0.82  0.70 -0.94  0.53  0.00  0.75 -0.64 -0.47  0.92 -0.88  0.43
    1     1     1     1     1     1     1     1     1     1     1     1     1

 0.30
    0

In [19]:
print("total layers:", len(TEST_population.agents[0].layers), "\n")

for i in range(len(TEST_population.agents[0].layers)):
    print("layer:", i, "| ", len(TEST_population.agents[0].layers[i]), "neurons")

total layers: 5

layer: 0 |  13 neurons
layer: 1 |  13 neurons
layer: 2 |  13 neurons
layer: 3 |  13 neurons
layer: 4 |  1 neurons