In [1]:
import pandas as pd #1
import os           #3
import numpy as np

In [2]:
given_data_folder = '.'

file_names = os.listdir(given_data_folder)
file_names.sort()
file_names

['.DS_Store',
 '.ipynb_checkpoints',
 'M_predictions_embeddings.csv',
 'M_predictions_embeddings_2023.csv',
 'W_predictions_embeddings.csv',
 'W_predictions_embeddings_2023.csv',
 'aem_actual_230315_23.28.csv',
 'aem_actual_230316_09.42.csv',
 'aem_sample_230315_23.24.csv',
 'display_data',
 'display_results.ipynb',
 'modifying_outputs.ipynb']

## This file is the one with my top score in Kaggle

In [3]:
predictions_file_name = 'aem_actual_230315_23.28.csv'

In [4]:
file_path = predictions_file_name 
predictions  = pd.read_csv(file_path)
print(len(predictions))

predictions.head(5)

130683

               ID      Pred
0  2023_1101_1102  0.728315
1  2023_1101_1103  0.426748
2  2023_1101_1104  0.177597
3  2023_1101_1105  0.844958
4  2023_1101_1106  0.894379

## Get as columns

In [5]:
def get_as_columns(df):
    # Creates list of the column names from the df
    columns = df.columns.tolist()

    # Creates list of the columns
    df_columns = []
    for expected_column in columns:
        df_columns.append( df[expected_column].tolist() )

    return df_columns

In [6]:
predictions_columns = get_as_columns(predictions)

print("Rows:    ", len(predictions_columns) )
print("Columns: ", len(predictions_columns[0]) )

Rows:     2
Columns:  130683

## Adjust Predictions

In [16]:
np_predictions = np.array(predictions_columns[1])

In [17]:
# do whatever to the predictions
method_used = "mult_by_1.2"

In [18]:
new_predictions = np.multiply(np_predictions, 1.2)

new_predictions[(new_predictions>1.0)] = 1.0

## Put it back together into a DF and output

In [19]:
# create the final dataframe
predictions_df = pd.DataFrame(data    = list(zip(predictions_columns[0], new_predictions)), 
                              columns = ("ID", "Pred"))

print(predictions_df.shape)
predictions_df.head()

(130683, 2)

               ID      Pred
0  2023_1101_1102  0.873978
1  2023_1101_1103  0.512097
2  2023_1101_1104  0.213117
3  2023_1101_1105  1.000000
4  2023_1101_1106  1.000000

In [20]:
file_prefix = "aem_actual"

file_name = "{}_{}.csv".format(file_prefix, method_used)
file_name

'aem_actual_mult_by_1.2.csv'

In [21]:
# to csv
file_name = "modified/" + file_name
predictions_df.to_csv(file_name, index=False)