# Combine the Mens and Womens predictions into one file for submission

In [1]:
import pandas as pd #1
import os           #3

In [2]:
given_data_folder = 'prepped/predictions'

file_names = os.listdir(given_data_folder)
file_names.sort()
file_names

['.DS_Store',
 'M_predictions_embeddings.csv',
 'M_predictions_embeddings_2023.csv',
 'W_predictions_embeddings.csv',
 'W_predictions_embeddings_2023.csv',
 'aem_sample_230315_23.24.csv']

In [3]:
M_predictions_file = 'M_predictions_embeddings_2023.csv'
W_predictions_file = 'W_predictions_embeddings_2023.csv'

## import as dataframes

In [4]:
file_path = given_data_folder + '/' + M_predictions_file 
M_predictions_df  = pd.read_csv(file_path)

print(M_predictions_df.shape)
M_predictions_df.head(5)

(65703, 2)

               ID      Pred
0  2023_1101_1102  0.728315
1  2023_1101_1103  0.426748
2  2023_1101_1104  0.177597
3  2023_1101_1105  0.844958
4  2023_1101_1106  0.894379

In [5]:
file_path = given_data_folder + '/' + W_predictions_file 
W_predictions_df  = pd.read_csv(file_path)

print(W_predictions_df.shape)
W_predictions_df.head(5)

(64980, 2)

               ID      Pred
0  2023_3101_3102  0.586823
1  2023_3101_3103  0.647473
2  2023_3101_3104  0.438870
3  2023_3101_3105  0.570311
4  2023_3101_3106  0.600375

## get as columns

In [6]:
M_predictions_column_names = M_predictions_df.columns.tolist()

# get all data as columns
M_columns = []
for i in range(len(M_predictions_column_names)):
    new_column = list(M_predictions_df[M_predictions_column_names[i]])
    M_columns.append(new_column)

In [7]:
W_predictions_column_names = W_predictions_df.columns.tolist()

# get all data as columns
W_columns = []
for i in range(len(W_predictions_column_names)):
    new_column = list(W_predictions_df[W_predictions_column_names[i]])
    W_columns.append(new_column)

<hr>

## combine columns and create df

### For sample: "Your submission should be a CSV file with 614319 rows and a header. You can upload a zip/gz/7z archive."

### For actual: "Your submission should be a CSV file with 130683 rows and a header. You can upload a zip/gz/7z archive."

In [8]:
combined_columns = []

for i in range(len(M_columns)):
    combined_columns.append( M_columns[i] + W_columns[i] )
    
print(len(combined_columns), len(combined_columns[0]))

2 130683

In [9]:
# create the final dataframe
predictions_df = pd.DataFrame(data    = list(zip(combined_columns[0], combined_columns[1])), 
                              columns = M_predictions_column_names)

print(predictions_df.shape)
predictions_df.head()

(130683, 2)

               ID      Pred
0  2023_1101_1102  0.728315
1  2023_1101_1103  0.426748
2  2023_1101_1104  0.177597
3  2023_1101_1105  0.844958
4  2023_1101_1106  0.894379

## enter file name and output as csv

In [10]:
from datetime import datetime, date

In [11]:
# date
# -----
today = date.today()
day_str = str(today)

# 0123456789
# 2023-03-03
current_day = day_str[2:4] + day_str[5:7] + day_str[8:]
current_day

# time
# -----
now = datetime.now()
current_time = now.strftime("%H.%M")

# together
# ---------
file_time = current_day + "_" + current_time
file_time

'230315_23.28'

### file name

In [12]:
file_prefix = "aem_actual"

file_name = "{}_{}.csv".format(file_prefix, file_time)
file_name

'aem_actual_230315_23.28.csv'

### output as csv

In [13]:
# to csv
file_name = "prepped/predictions/" + file_name
predictions_df.to_csv(file_name, index=False)